FPBWordScrambleClient/Connected Services/WordScrambleServiceReference/FPBWordScramble.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FPBWordScramble" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FPBWordScramble" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WordScrambleExceptions.GameBeingHostedException">
    <xs:sequence>
      <xs:element minOccurs="0" name="HostMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WordScrambleExceptions.GameBeingHostedException" nillable="true" type="tns:WordScrambleExceptions.GameBeingHostedException" />
  <xs:complexType name="Word">
    <xs:sequence>
      <xs:element minOccurs="0" name="scrambledWord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="unscrambledWord" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Word" nillable="true" type="tns:Word" />
  <xs:complexType name="WordScrambleExceptions.MaximumNumberOfPlayersReachedException">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaxPlayersMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WordScrambleExceptions.MaximumNumberOfPlayersReachedException" nillable="true" type="tns:WordScrambleExceptions.MaximumNumberOfPlayersReachedException" />
  <xs:complexType name="WordScrambleExceptions.HostCannotJoinTheGameException">
    <xs:sequence>
      <xs:element minOccurs="0" name="HostJoinMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WordScrambleExceptions.HostCannotJoinTheGameException" nillable="true" type="tns:WordScrambleExceptions.HostCannotJoinTheGameException" />
  <xs:complexType name="WordScrambleExceptions.GameIsNotBeingHostedException">
    <xs:sequence>
      <xs:element minOccurs="0" name="NonHostMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WordScrambleExceptions.GameIsNotBeingHostedException" nillable="true" type="tns:WordScrambleExceptions.GameIsNotBeingHostedException" />
  <xs:complexType name="WordScrambleExceptions.PlayerNotPlayingTheGameException">
    <xs:sequence>
      <xs:element minOccurs="0" name="PlayerNotPlaying" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WordScrambleExceptions.PlayerNotPlayingTheGameException" nillable="true" type="tns:WordScrambleExceptions.PlayerNotPlayingTheGameException" />
</xs:schema>