FPBWordScrambleClient/Connected Services/WordScrambleServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WordScramble" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/FPBWordScramble" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWordScramble_isGameBeingHosted_InputMessage">
    <wsdl:part name="parameters" element="tns:isGameBeingHosted" />
  </wsdl:message>
  <wsdl:message name="IWordScramble_isGameBeingHosted_OutputMessage">
    <wsdl:part name="parameters" element="tns:isGameBeingHostedResponse" />
  </wsdl:message>
  <wsdl:message name="IWordScramble_hostGame_InputMessage">
    <wsdl:part name="parameters" element="tns:hostGame" />
  </wsdl:message>
  <wsdl:message name="IWordScramble_hostGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:hostGameResponse" />
  </wsdl:message>
  <wsdl:message name="IWordScramble_hostGame_GameBeingHostedExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/FPBWordScramble" name="detail" element="q1:WordScrambleExceptions.GameBeingHostedException" />
  </wsdl:message>
  <wsdl:message name="IWordScramble_join_InputMessage">
    <wsdl:part name="parameters" element="tns:join" />
  </wsdl:message>
  <wsdl:message name="IWordScramble_join_OutputMessage">
    <wsdl:part name="parameters" element="tns:joinResponse" />
  </wsdl:message>
  <wsdl:message name="IWordScramble_join_MaximumNumberOfPlayersReachedExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/FPBWordScramble" name="detail" element="q2:WordScrambleExceptions.MaximumNumberOfPlayersReachedException" />
  </wsdl:message>
  <wsdl:message name="IWordScramble_join_HostCannotJoinTheGameExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/FPBWordScramble" name="detail" element="q3:WordScrambleExceptions.HostCannotJoinTheGameException" />
  </wsdl:message>
  <wsdl:message name="IWordScramble_join_GameIsNotBeingHostedExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/FPBWordScramble" name="detail" element="q4:WordScrambleExceptions.GameIsNotBeingHostedException" />
  </wsdl:message>
  <wsdl:message name="IWordScramble_guessWord_InputMessage">
    <wsdl:part name="parameters" element="tns:guessWord" />
  </wsdl:message>
  <wsdl:message name="IWordScramble_guessWord_OutputMessage">
    <wsdl:part name="parameters" element="tns:guessWordResponse" />
  </wsdl:message>
  <wsdl:message name="IWordScramble_guessWord_PlayerNotPlayingTheGameExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/FPBWordScramble" name="detail" element="q5:WordScrambleExceptions.PlayerNotPlayingTheGameException" />
  </wsdl:message>
  <wsdl:portType name="IWordScramble">
    <wsdl:operation name="isGameBeingHosted">
      <wsdl:input wsaw:Action="http://tempuri.org/IWordScramble/isGameBeingHosted" message="tns:IWordScramble_isGameBeingHosted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWordScramble/isGameBeingHostedResponse" message="tns:IWordScramble_isGameBeingHosted_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="hostGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IWordScramble/hostGame" message="tns:IWordScramble_hostGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWordScramble/hostGameResponse" message="tns:IWordScramble_hostGame_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IWordScramble/hostGameGameBeingHostedExceptionFault" name="GameBeingHostedExceptionFault" message="tns:IWordScramble_hostGame_GameBeingHostedExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="join">
      <wsdl:input wsaw:Action="http://tempuri.org/IWordScramble/join" message="tns:IWordScramble_join_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWordScramble/joinResponse" message="tns:IWordScramble_join_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IWordScramble/joinMaximumNumberOfPlayersReachedExceptionFault" name="MaximumNumberOfPlayersReachedExceptionFault" message="tns:IWordScramble_join_MaximumNumberOfPlayersReachedExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IWordScramble/joinHostCannotJoinTheGameExceptionFault" name="HostCannotJoinTheGameExceptionFault" message="tns:IWordScramble_join_HostCannotJoinTheGameExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IWordScramble/joinGameIsNotBeingHostedExceptionFault" name="GameIsNotBeingHostedExceptionFault" message="tns:IWordScramble_join_GameIsNotBeingHostedExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="guessWord">
      <wsdl:input wsaw:Action="http://tempuri.org/IWordScramble/guessWord" message="tns:IWordScramble_guessWord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWordScramble/guessWordResponse" message="tns:IWordScramble_guessWord_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IWordScramble/guessWordPlayerNotPlayingTheGameExceptionFault" name="PlayerNotPlayingTheGameExceptionFault" message="tns:IWordScramble_guessWord_PlayerNotPlayingTheGameExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWordScramble" type="tns:IWordScramble">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="isGameBeingHosted">
      <soap:operation soapAction="http://tempuri.org/IWordScramble/isGameBeingHosted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hostGame">
      <soap:operation soapAction="http://tempuri.org/IWordScramble/hostGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GameBeingHostedExceptionFault">
        <soap:fault use="literal" name="GameBeingHostedExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="join">
      <soap:operation soapAction="http://tempuri.org/IWordScramble/join" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="MaximumNumberOfPlayersReachedExceptionFault">
        <soap:fault use="literal" name="MaximumNumberOfPlayersReachedExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="HostCannotJoinTheGameExceptionFault">
        <soap:fault use="literal" name="HostCannotJoinTheGameExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="GameIsNotBeingHostedExceptionFault">
        <soap:fault use="literal" name="GameIsNotBeingHostedExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="guessWord">
      <soap:operation soapAction="http://tempuri.org/IWordScramble/guessWord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PlayerNotPlayingTheGameExceptionFault">
        <soap:fault use="literal" name="PlayerNotPlayingTheGameExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WordScramble">
    <wsdl:port name="BasicHttpBinding_IWordScramble" binding="tns:BasicHttpBinding_IWordScramble">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/FPBWordScramble/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>